body{
    background-color: cadetblue;
    margin:0px;
    
}
header{

  border-bottom:solid 2px rgb(100, 403, 139);

   padding: 20px; ;
   font: size 32px;
   color:darkblue;
}

section{
background-color: deepskyblue;
padding-top 80px;
padding-bottom:x;;
}